{% extends 'dummy.html' %}

{% block title %}
    <title>user_login</title>
{% endblock %}

{% block body_block %}
<h1>login form</h1>
<form method="POST">
    {% csrf_token %}
  <label for="username">username</label>
  <input type="text" name="username" id="username"><br>
  <br>
  <label for="password">password</label>
  <input type="text" name="password" id="password">
  <br>
  <br>
  <input type="submit" value="login">

  <a href="{% url 'resetpassword'%}" class="nav_link">reset_password</a>

</form>
{% endblock %}